<style>
    .smallhead{
        padding-left:20%;
        padding-right:20%;
        align-items: center;
        width: auto;
        background-color:grey   
        font-family: sans-serif; 
    }
    .introduction {
        font-size: 17px;
    }
</style>

<div class="smallhead">
    <p class="introduction"><b>Hi {{name}},</b></p>

    Your book {{title}} from {{author}} is ready to be collected!<br/>

    <p>Thanks,</p>
    <p>the Skoolbieb team</p>
</div>
