<div>
    Hello there, a new account is added in the school library for you!
    To active the acount go to login and press the forgot my password. 
    Follow the steps of the next email you receive.
</div>
