<style>
    .smallhead{
        display:flex;
        justify-content: space-around;
        background-color: #ce0353;
        height: 40px;
        padding-left:20%;
        padding-right:20%;
        align-items: center;
    }
</style>


<div class="smallhead">
    
    <a href='http://localhost:3000/profile/resetPassword'?={{token}}>Click on this link to reset your password</a>
</div>

