
.wrapper {
    background-image: url("../pictures/image.jpg");
    height: 240px;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Source Sans Pro', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, 'Helvetica Neue', Arial, sans-serif;
    font-size: 16px;
     word-spacing: 1px;
    -ms-text-size-adjust: 100%;
     -webkit-text-size-adjust: 100%;
     -moz-osx-font-smoothing: grayscale;
     -webkit-font-smoothing: antialiased;
     box-sizing: border-box;

}

.container {
display: flex;
justify-content: center;
align-items: center;
height: inherit;
}

.inner-wrapper {
    background-color: whitesmoke;
    font-size: 0;
}

input[type="text"] {
height: 4rem;
padding-left: 1rem;
background-color: #f9f9f9;
color:black;
width: 700px;
border:0;
border-radius: 1%;
}

button {
height: 4rem;
width: 80px;
border-radius: 1%;
border: 0;
font-family: 'Source Sans Pro', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, 'Helvetica Neue', Arial, sans-serif;
  font-size: 16px;
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}

::placeholder {
    color: black;
    font-family: 'Source Sans Pro', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, 'Helvetica Neue', Arial, sans-serif;
  font-size: 16px;
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}


.footer-container {
    margin-top: 20px;
background-color: #474C66;
width: 100%;
height:250px;
display: flex;
justify-content: space-evenly;

.footer-section {
    color: #48748A;
    line-height: 2;
    p {
        color: #ffff;
        line-height: 1.8;
        text-align: left;
    }
    }
}

.notification-container {
margin-top: 7px;
border-radius: 3px;
background-color:#28528A;
margin-left: 10%;
margin-right: 10%;
}

.carousel-container {
background-color: $background-color;
display: flex;
align-items: center;
margin: auto;
justify-content: space-between;
width: 80%;
height:fit-content;

.carousel-book {
    background-color: hotpink;
    width: 120px;
    height: 140px;
    border: black solid 1px;
    transition: transform .7s;
    margin: 0 15px;

    &:hover {
        background-color:black;
        transform: scale(1.2);
    }
}

.carousel-button {
    width: 50px;
    height: 95px;
    margin: 0 5px;
    border-radius: 1%;
    border: 0;
}
}


.intro-text-container {
    padding-bottom: 15px;
    color: white;
    margin-right: 10%;
    margin-left: 10%;

    .intro-text {
        border-radius: 3px;
        margin-top: 7px;
        height: 3rem;
        background-color: #414660;
        h2 {
            letter-spacing: 0.3rem;
            text-align: center;
            padding-top: 11px;
        }
    }
}
