@mixin border-placeholder-style {
  font-family: 'Source Sans Pro', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, 'Helvetica Neue', Arial, sans-serif;
  font-size: 16px;
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}

.index {
  .wrapper {
    background-image: url('../pictures/image.jpg');
    height: 350px;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    @include border-placeholder-style();
  }

  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: inherit;
  }

  .inner-wrapper {
    background-color: whitesmoke;
    font-size: 0;
    width: 70%;
    & > div {
      margin: 0;
      width: 100%;
    }
  }

  input[type='text'] {
    height: 4rem;
    padding-left: 1rem;
    background-color: #f9f9f9;
    color: black;
    width: 700px;
    border: 0;
    border-radius: 3px;
  }

  .searchButton {
    height: 4rem;
    width: 80px;
    border-radius: 1%;
    border: 0;
    @include border-placeholder-style();
  }
}

::placeholder {
  color: black;
  @include border-placeholder-style();
}

.footer {
  background-color: #474c66;
  color: white;
  width: 100%;
  display: flex;
  justify-content: space-around;
  & > div {
    padding-left: 20px;
    width: 40%;
    margin-left: 15%;
  }
}

.frontpageNotif {
  border-radius: 3px;
  background-color: lightskyblue;
  margin-left: 10%;
  margin-right: 10%;
  padding: 5px 10px;
  button {
    float: right;
  }
}

.quick-links-container {
  margin-left: 10%;
  margin-right: 10%;

  ul {
    position: relative;
    display: flex;
    justify-content: flex-start;

    li {
      position: relative;
      flex: auto;
      border-bottom: 4px solid transparent;
      box-shadow: 0 1px 1px 0 #dbdbdb;
    }
    li:hover {
      box-shadow: 5px 7px 8px #888888;
    }
    li:hover::after {
      content: '';
      background-color: #48748a;
      position: absolute;
      bottom: -4px;
      left: 0;
      height: 5px;
      width: 100%;
    }

    .quick-link {
      padding: 20px 10px;
      width: 100%;
      display: inline-block;
      color: black;
      border-radius: 3px;
    }
  }
}

.carousel-links-container {
  display: flex;
  flex-direction: row;

  .carousel-new-suggestions .carousel-link {
    display: flex;
    flex-direction: row;
    background-color: hotpink;
  }
}
.carousel-container {
  padding-top: 10px;
  background-color: $background-color;
  display: flex;
  align-items: center;
  margin: auto;
  justify-content: space-between;
  width: 80%;
  height: fit-content;

  .carousel-book {
    background-color: hotpink;
    width: 120px;
    height: 140px;
    border: black solid 1px;
    transition: transform 0.7s;
    margin: 0 15px;

    &:hover {
      background-color: black;
      transform: scale(1.2);
    }
  }

  .carousel-button {
    width: 50px;
    height: 95px;
    margin: 0 5px;
    border-radius: 1%;
    border: 0;
  }
}

.intro-text-container {
  color: white;
  margin-right: 10%;
  margin-left: 10%;

  .intro-text {
    border-radius: 3px;
    margin-top: -3rem;
    height: 3rem;
    background-color: #414660;
    h2 {
      letter-spacing: 0.3rem;
      text-align: center;
      padding-top: 11px;
    }
  }
}
