#profile-page-container {
  margin-left: 2rem;
  margin-right: 2rem;
  margin-top: 3rem;
  background-color: white;
  position: relative;
}
.profile-navigation-container {
  border-radius: 1rem;
  background-color: whitesmoke;
  display: inline-block;
  width: 25%;
  height: 500px;
  border: 7px solid $base-color;

  .dashboard-link {
    position: relative;
    border-bottom: white 2px solid;
    height: 3rem;
    justify-content: center;
    align-items: center;
    display: flex;
    &:hover .fa-icon {
      color: $base-color;
    }
    &:hover nuxt-link {
      color: $base-color;
    }
    .fa-icon {
      position: absolute;
      left: 8%;
    }
  }
}

.main-profile-container {
  border-radius: 1rem;
  background-color: whitesmoke;
  display: inline-block;
  position: absolute;
  width: 73%;
  height: auto;
  min-height: 500px;
  margin-left: 2rem;
  padding: 20px 5px;
  border: 7px solid rgb(89, 129, 202);
  .information-container {
    padding: 1rem 4rem 0 4rem;
    h2 {
      padding: 20px 0;
    }

    img {
      display: block;
      height: 8rem;
      border: 1px solid black;
      margin: 1rem 0;
    }
    .profile-page-title {
      font-weight: bold;
      color: #28528a;
    }
    .input-style {
      border: #a8a8a8 1px solid;
      border-radius: 3px;
      width: 100%;
      max-width: 500px;
    }
    input[type='password'] {
      border: #a8a8a8 1px solid;
      border-radius: 3px;
      width: 72%;
      height: 2rem;
    }

    .reset-btn--profile {
      margin-left: 1rem;
    }
    input[type='submit'],
    .reset-btn--profile {
      border: 1px solid #28528a;
      background-color: #3369b2;
      padding: 1rem 2rem;
      font-weight: bold;
      color: #fff;
      text-transform: uppercase;
      border-radius: 16px;
      margin-top: 10px;
      width: auto;
      cursor: pointer;
      &:hover {
        background-color: white;
        color: #3369b2;
      }
    }
    .profile-buttons--edit {
      margin-top: 1rem;
    }
  }

  @media screen and (max-width: 769px) {
    .profile-buttons--edit {
      display: flex;
      flex-direction: column;
      .reset-btn--profile {
        margin-left: 0;
      }
    }
  }
}
