@import 'imports/variables';

body {
  background-color: $background-color;
}


* {
  font-family:'Montserrat',sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-family: 'Montserrat','Source Sans Pro', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, 'Helvetica Neue', Arial, sans-serif;
  font-size: 16px;
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
$base-color: rgb(155, 178, 221);