@import 'imports/variables';
@import './modules/frontpage.scss';
@import './modules/profilepage.scss';

// body {
//   background-color: lightgrey;
//   background-repeat: repeat;
//   height: 100%;
// }

// html {
//   height: 100%;
// }
