@import './modules/frontpage.scss';
@import './modules/profilepage.scss';
@import 'imports/variables';
@import './modules/resetPassword.scss';

// body {
//   background-color: lightgrey;
//   background-repeat: repeat;
//   height: 100%;
// }

html,
body,
#__nuxt,
#__layout {
  height: 100%;
}
